@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  margin-top: 20px;
  height: 400px;
  width: 100%;
}

.hab {
  border: solid 2px red;
  width: 100px;
  height: 100px;
}
